.red {
    color: #ff6939;
}

.green {
    color: #4da53c;
}

.topTicker {
    display: block;
    width: 100%;
    height: 20px;
    padding-top:2px;
    background: #0d141d;
}

.topPair {
    display: inline;
    align-items: center;
    margin-left:3px;
    margin-right:10px;
}


.topPrice {
    margin-left:2px;
}





.infoBox {
    color: #fff;
    padding:5px;
    margin-left:5px;
    flex: 1;
    border-radius: 5px;
    font-size: 12px;
    line-height: 12px;
    text-align: center;
    border-bottom-color: #fff;
    font-family: "opensans",sans-serif,"btcglyph";
    font-weight: bold;
}
.sellBtn{
    background-color: #ff6939;
}

.buyBtn{
    background-color: #4da53c;
}

.calculatedPrice {
    margin-left:2px;
    font-size: 10px;
    color:#4da53c;
}



